In [12]:
import numpy as np
import pandas as pd
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")


# Step 3: Now it's safe to modify
#movies['crew'] = movies['crew'].apply(fetch_director)

In [13]:
movies.head(2)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500

In [14]:
credits.head(2)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."

In [15]:
credits.shape

(4803, 4)

In [16]:
movies.shape

(4803, 20)

In [17]:
movies = movies.merge(credits,on='title')
movies.head()
movies.shape

(4809, 23)

In [18]:
#budget is not a criteria to recommend a movie
#if we observe language almost 95% is english so no need
movies['original_language'].value_counts()

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [19]:
#we need to extract only necessary columns for out prediction
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [20]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [21]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [22]:
#in crew i only consider direcor
#in cast i only consider top 3 actors
movies.dropna(inplace=True)
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [23]:
movies.iloc[0].genres
#we need to convert ths dictionary to something lik ['action','adventure','fantasy',Science ficiton']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [24]:
import ast
def convert(obj):
  l=[]
  for i in ast.literal_eval(obj):

    l.append(i['name'])
  return l

In [25]:
# to get list of genres of all movies
movies['genres'] = movies['genres'].apply(convert)
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [26]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [27]:
import ast

def convertt(obj):
    # If it's already a list, return the first 3 names directly
    if isinstance(obj, list):
        return obj[:3]
    
    l = []
    cnt = 0
    try:
        for i in ast.literal_eval(obj):
            if cnt < 3:
                l.append(i['name'])
                cnt += 1
            else:
                break
    except:
        pass  # Skip bad data
    return l

In [28]:
#actually i have converted to list when i run it again then im getting error so i will
#comment this 
movies['cast'] = movies['cast'].apply(convertt)
#getting only 3 names from cast
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [29]:
import ast
def fetch_director(obj):
  l=[]
  for i in ast.literal_eval(obj):
    if i['job']=='Director':

      l.append(i['name'])
  return l

In [30]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [31]:
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [32]:

#converting overview contents to list
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [33]:
#u can observe overview is changed to list 
movies.head(2)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]

In [34]:
#remove spaces between singl eword bcoz if we keep space it will treat like 2 diff entiites but ex= Sam Worthington is name of one person
#but it treate as sam diff and worthington diff in order to overcome this isuue lets combine them(apply transformation)
movies['genres'] =  movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])

In [35]:
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x]) 
movies['cast']= movies['cast'].apply(lambda x:[i.replace(" ","") for i in x]) 
movies['crew']= movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [36]:
movies.head()
#observe spaces removed

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [37]:
movies['tag'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] +movies['crew']

In [38]:
movies.head(2)
#adding a new ag col which i s combo of 5 columns

,movie_id,title,overview,genres,keywords,cast,crew,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."

In [39]:
new_df = movies[['movie_id', 'title', 'tag']]
new_df['tag'] = new_df['tag'].apply(lambda x: " ".join(x))

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_124\3862497520.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(lambda x: " ".join(x))

In [40]:
new_df.head(2)

,movie_id,title,tag
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [41]:
new_df['tag'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [42]:
new_df['tag'] = new_df['tag'].apply(lambda x:x.lower())

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_124\1436014886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag'] = new_df['tag'].apply(lambda x:x.lower())

In [43]:
new_df.head(2)

,movie_id,title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."

In [44]:
#vectorisation
# vectorization is crucial because it allows the system to convert textual data, like movie names, cast, descriptions, or reviews,
#into a numerical representation that can be processed by algorithms. Machine learning and recommendation systems typically cannot understand
#raw text directly, so we need to convert this text into a format that can be mathematically analyzed and compared.
# vectors (arrays of numbers) that maintain the semantic meaning of the text.
#if you convert two movies' descriptions or cast lists into vectors, you can compute the similarity between them. If the vectors are
#close in value, it means the movies are similar in content or attributes, and thus, one movie could be recommended based on the other.

In [45]:
#most common tech we are going to use is bag of words
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')
#wt are the 5000 most freq words

In [46]:
vectors = cv.fit_transform(new_df['tag']).toarray()

In [47]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [48]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [49]:
len(cv.get_feature_names_out())

5000

In [50]:
new_df['tag'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [51]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.9.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.66.5)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [52]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [59]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [54]:
# in those feature names we have similar names like 'love' ,'loved', 'loving' 
# so we have to consider all of them as only 'love'
ps.stem('loveing')
ps.stem('loved')

'love'

In [70]:
ps.stem('arrested')

'arrest'

In [60]:
#lets check stem of tag[0]
#observe marine is changed to marin
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [61]:
#so we have to apply stem to all tags of data
new_df['tag'] = new_df['tag'].apply(stem)

0       in the 22nd century, a parapleg marin is dispa...
1       captain barbossa, long believ to be dead, ha c...
2       a cryptic messag from bond’ past send him on a...
3       follow the death of district attorney harvey d...
4       john carter is a war-weary, former militari ca...
                              ...
4804    el mariachi just want to play hi guitar and ca...
4805    a newlyw couple' honeymoon is upend by the arr...
4806    "signed, sealed, delivered" introduc a dedic q...
4807    when ambiti new york attorney sam is sent to s...
4808    ever sinc the second grade when he first saw h...
Name: tag, Length: 4806, dtype: object

In [68]:
cv.get_feature_names_out()[20:400]

array(['1970s', '1971', '1974', '1976', '1980', '1980s', '1985', '1990s',
       '1999', '19th', '19thcentury', '20', '200', '2003', '2009', '20th',
       '24', '25', '30', '300', '3d', '40', '50', '500', '60', '60s',
       '70', 'aaron', 'aaroneckhart', 'abandoned', 'abducted',
       'abigailbreslin', 'abilities', 'ability', 'able', 'aboard',
       'abuse', 'abusive', 'academic', 'academy', 'accept', 'accepted',
       'accepts', 'access', 'accident', 'accidental', 'accidentally',
       'accompanied', 'accomplish', 'account', 'accountant', 'accused',
       'ace', 'achieve', 'act', 'acting', 'action', 'actionhero',
       'actions', 'activist', 'activities', 'activity', 'actor', 'actors',
       'actress', 'acts', 'actual', 'actually', 'adam', 'adams',
       'adamsandler', 'adamshankman', 'adaptation', 'adapted', 'addict',
       'addicted', 'addiction', 'adolescence', 'adopt', 'adopted',
       'adoption', 'adopts', 'adrienbrody', 'adult', 'adultery',
       'adulthood', 'adults', 'advantage', 'adventure', 'adventures',
       'advertising', 'advice', 'affair', 'affairs', 'affection',
       'affections', 'afghanistan', 'africa', 'african',
       'africanamerican', 'aftercreditsstinger', 'afterlife', 'aftermath',
       'age', 'aged', 'agedifference', 'agency', 'agenda', 'agent',
       'agents', 'aggressive', 'aging', 'ago', 'agree', 'agrees', 'ahead',
       'aid', 'aided', 'aids', 'ailing', 'air', 'airplane',
       'airplanecrash', 'airport', 'aka', 'al', 'alabama', 'alan',
       'alaska', 'albert', 'alcohol', 'alcoholic', 'alcoholism',
       'alecbaldwin', 'alex', 'alfredhitchcock', 'ali', 'alice', 'alien',
       'alieninvasion', 'alienlife', 'aliens', 'alike', 'alive', 'allen',
       'alliance', 'allied', 'allies', 'allow', 'allows', 'ally',
       'alongside', 'alpacino', 'alter', 'alternate', 'alternative',
       'alzheimer', 'amanda', 'amandapeet', 'amandaseyfried', 'amateur',
       'amazing', 'ambassador', 'ambition', 'ambitious', 'ambulance',
       'ambush', 'america', 'american', 'americanabroad',
       'americanfootball', 'americans', 'amid', 'amidst', 'amnesia',
       'amp', 'amsterdam', 'amusementpark', 'amy', 'amyadams', 'amysmart',
       'analyst', 'anarchiccomedy', 'ancient', 'ancientrome',
       'ancientworld', 'anderson', 'andiemacdowell', 'andrew', 'android',
       'andy', 'andygarcía', 'angel', 'angelabassett', 'angeles',
       'angelinajolie', 'angels', 'anger', 'anglee', 'angry', 'animal',
       'animalattack', 'animalhorror', 'animals', 'animated', 'animation',
       'ann', 'anna', 'annabelle', 'annafaris', 'annakendrick', 'anne',
       'annehathaway', 'annemoss', 'annettebening', 'annie',
       'anniversary', 'announces', 'annual', 'anonymity', 'anonymous',
       'answer', 'answers', 'ant', 'antarctic', 'anthology', 'anthony',
       'anthonyanderson', 'anthonyhopkins', 'anthonymackie',
       'anthropomorphism', 'anti', 'antics', 'antihero', 'antoinefuqua',
       'antoniobanderas', 'antonyelchin', 'apart', 'apartheid',
       'apartment', 'ape', 'apes', 'apocalypse', 'apocalyptic',
       'apparent', 'apparently', 'appear', 'appears', 'apple',
       'appointed', 'apprentice', 'approach', 'approaches', 'approaching',
       'april', 'aquarium', 'arab', 'arch', 'archaeologist', 'archeology',
       'archer', 'architect', 'arctic', 'area', 'aren', 'arena',
       'argument', 'arise', 'aristocrat', 'armed', 'arms', 'army',
       'arnold', 'arnoldschwarzenegger', 'arrangedmarriage',
       'arrangement', 'arrest', 'arrested', 'arrival', 'arrive',
       'arrives', 'arriving', 'arrogant', 'art', 'arthur',
       'artificialintelligence', 'artist', 'artistic', 'artists', 'arts',
       'ashley', 'ashleyjudd', 'ashtonkutcher', 'asia', 'aside', 'ask',
       'asked', 'asking', 'asks', 'aspirations', 'aspiring', 'assassin',
       'assassinate', 'assassination', 'assassins', 'assault', 'assigned',
       'assignment', 'assistant', 'assumes', 'asteroid', 'astronaut',
       'astronauts', 'asylum', 'atheist', 'athlete', 'atlantic',
       'atomicbomb', 'attack', 'attacked', 'attacks', 'attempt',
       'attempting', 'attempts', 'attending', 'attends', 'attention',
       'attic', 'attitude', 'attorney', 'attracted', 'attraction',
       'attractive', 'audience', 'audiences', 'audition', 'august',
       'aunt', 'austin', 'australia', 'australian', 'author',
       'authorities', 'authority', 'autism', 'auto', 'avenge', 'average',
       'avoid', 'awaits', 'awakens', 'award', 'away', 'awry', 'ax',
       'babe', 'baby', 'bachelor', 'backdrop', 'background',
       'backgrounds', 'bad', 'bag', 'bahamas', 'bail', 'balance', 'ball',
       'ballet', 'baltimore', 'band', 'bandits', 'bangkok', 'banished',
       'bank', 'banker', 'bankrobber', 'bankrobbery', 'bar', 'barely',
       'bargained'], dtype=object)

In [73]:
#here we have 4806 movies i.e rows/vectors   and 5000 columns for each row
#Cosine cares about the direction of vectors (not their magnitude), which makes it perfect for comparing how similar the
#content is, not how long the description is.
# so we use cosine dis/similarity not euclidean dis.  euclid dis in not reliable measure as this have high dimensionality
#Movies with similar themes, genres, or keywords to be treated as similar
#Even if one has 10 tags and the other has 50

from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(vectors)
#the meaning here is we are calculating dis for 1st moviw to all remaining movies like 2nd movie to dis btw remainig other like that 
# 4086 movies distanes with 480 movies

array([[1.        , 0.08964215, 0.06071767, ..., 0.02519763, 0.0277885 ,
        0.        ],
       [0.08964215, 1.        , 0.06350006, ..., 0.02635231, 0.        ,
        0.        ],
       [0.06071767, 0.06350006, 1.        , ..., 0.02677398, 0.        ,
        0.        ],
       ...,
       [0.02519763, 0.02635231, 0.02677398, ..., 1.        , 0.07352146,
        0.04774099],
       [0.0277885 , 0.        , 0.        , ..., 0.07352146, 1.        ,
        0.05264981],
       [0.        , 0.        , 0.        , ..., 0.04774099, 0.05264981,
        1.        ]])

In [75]:
cosine_similarity(vectors).shape

(4806, 4806)

In [78]:
similar = cosine_similarity(vectors)

In [79]:
similar[0]
#diagonal ele are 1 bcoz same movie

array([1.        , 0.08964215, 0.06071767, ..., 0.02519763, 0.0277885 ,
       0.        ])

In [90]:
sorted(list(enumerate(similar[0])), reverse = True)
#we dont want this sorting based on index

[(4805, 0.0),
 (4804, 0.027788500718836418),
 (4803, 0.02519763153394848),
 (4802, 0.05345224838248488),
 (4801, 0.02492223931396134),
 (4800, 0.0),
 (4799, 0.05884898863364997),
 (4798, 0.02129588549999799),
 (4797, 0.0),
 (4796, 0.0),
 (4795, 0.0),
 (4794, 0.0),
 (4793, 0.059761430466719674),
 (4792, 0.0),
 (4791, 0.0),
 (4790, 0.03194382824999699),
 (4789, 0.023002185311411804),
 (4788, 0.0),
 (4787, 0.02258769757263128),
 (4786, 0.0),
 (4785, 0.0),
 (4784, 0.04517539514526256),
 (4783, 0.0),
 (4782, 0.027066598098038335),
 (4781, 0.06388765649999398),
 (4780, 0.023002185311411804),
 (4779, 0.0),
 (4778, 0.0),
 (4777, 0.05345224838248488),
 (4776, 0.0),
 (4775, 0.03253000243161777),
 (4774, 0.0),
 (4773, 0.029880715233359837),
 (4772, 0.026398183867422733),
 (4771, 0.042257712736425826),
 (4770, 0.0),
 (4769, 0.0),
 (4768, 0.0),
 (4767, 0.03877833671647406),
 (4766, 0.018227065414412227),
 (4765, 0.0),
 (4764, 0.0),
 (4763, 0.0),
 (4762, 0.0),
 (4761, 0.03194382824999699),
 (4760, 0.0),
 (4759, 0.024147264420814756),
 (4758, 0.0),
 (4757, 0.048795003647426664),
 (4756, 0.0),
 (4755, 0.02742042485535409),
 (4754, 0.03194382824999699),
 (4753, 0.0),
 (4752, 0.030860669992418377),
 (4751, 0.0),
 (4750, 0.0),
 (4749, 0.0),
 (4748, 0.025482359571881275),
 (4747, 0.0),
 (4746, 0.0),
 (4745, 0.0),
 (4744, 0.033149677206589796),
 (4743, 0.018018749253911177),
 (4742, 0.04517539514526256),
 (4741, 0.03688555567816587),
 (4740, 0.0),
 (4739, 0.02742042485535409),
 (4738, 0.0),
 (4737, 0.09035079029052512),
 (4736, 0.0),
 (4735, 0.0),
 (4734, 0.0),
 (4733, 0.0),
 (4732, 0.0),
 (4731, 0.030358837035945812),
 (4730, 0.02672612419124244),
 (4729, 0.0),
 (4728, 0.0),
 (4727, 0.06629935441317959),
 (4726, 0.0),
 (4725, 0.0),
 (4724, 0.0),
 (4723, 0.0),
 (4722, 0.019920476822239894),
 (4721, 0.0),
 (4720, 0.030358837035945812),
 (4719, 0.0),
 (4718, 0.08728715609439694),
 (4717, 0.0),
 (4716, 0.0),
 (4715, 0.0),
 (4714, 0.0),
 (4713, 0.02519763153394848),
 (4712, 0.0),
 (4711, 0.020498001542269693),
 (4710, 0.0),
 (4709, 0.0),
 (4708, 0.0),
 (4707, 0.028571428571428567),
 (4706, 0.012926112238824687),
 (4705, 0.0),
 (4704, 0.06761234037828133),
 (4703, 0.03688555567816587),
 (4702, 0.0),
 (4701, 0.0),
 (4700, 0.03688555567816587),
 (4699, 0.03253000243161777),
 (4698, 0.0),
 (4697, 0.0),
 (4696, 0.017622684421256033),
 (4695, 0.023002185311411804),
 (4694, 0.024147264420814756),
 (4693, 0.030358837035945812),
 (4692, 0.0),
 (4691, 0.029880715233359837),
 (4690, 0.02577696311132335),
 (4689, 0.0),
 (4688, 0.0),
 (4687, 0.0),
 (4686, 0.0),
 (4685, 0.0),
 (4684, 0.0),
 (4683, 0.0),
 (4682, 0.018442777839082936),
 (4681, 0.0),
 (4680, 0.03253000243161777),
 (4679, 0.0),
 (4678, 0.0),
 (4677, 0.0),
 (4676, 0.0),
 (4675, 0.029424494316824985),
 (4674, 0.028988551782622416),
 (4673, 0.12555296411486888),
 (4672, 0.05039526306789696),
 (4671, 0.0),
 (4670, 0.021128856368212913),
 (4669, 0.030358837035945812),
 (4668, 0.0),
 (4667, 0.033149677206589796),
 (4666, 0.03450327796711771),
 (4665, 0.0),
 (4664, 0.03194382824999699),
 (4663, 0.0),
 (4662, 0.0),
 (4661, 0.03253000243161777),
 (4660, 0.0),
 (4659, 0.0),
 (4658, 0.0),
 (4657, 0.08964214570007951),
 (4656, 0.022792115291927588),
 (4655, 0.0),
 (4654, 0.09376144618769908),
 (4653, 0.0),
 (4652, 0.03450327796711771),
 (4651, 0.0),
 (4650, 0.0),
 (4649, 0.0),
 (4648, 0.0),
 (4647, 0.02258769757263128),
 (4646, 0.04517539514526256),
 (4645, 0.0),
 (4644, 0.0),
 (4643, 0.04517539514526256),
 (4642, 0.03688555567816587),
 (4641, 0.08451542547285165),
 (4640, 0.08017837257372731),
 (4639, 0.0),
 (4638, 0.07207499701564471),
 (4637, 0.0),
 (4636, 0.059761430466719674),
 (4635, 0.04364357804719847),
 (4634, 0.027788500718836418),
 (4633, 0.02672612419124244),
 (4632, 0.03779644730092272),
 (4631, 0.0),
 (4630, 0.01889822365046136),
 (4629, 0.03138824102871722),
 (4628, 0.0),
 (4627, 0.0),
 (4626, 0.09258200997725513),
 (4625, 0.0),
 (4624, 0.05345224838248488),
 (4623, 0.10811249552346706),
 (4622, 0.0),
 (4621, 0.0),
 (4620, 0.026082026547865053),
 (4619, 0.0),
 (4618, 0.03253000243161777),
 (4617, 0.0),
 (4616, 0.0),
 (4615, 0.0),
 (4614, 0.0),
 (4613, 0.0),
 (4612, 0.0),
 (4611, 0.03688555567816587),
 (4610, 0.0),
 (4609, 0.0),
 (4608, 0.0),
 (4607, 0.04364357804719847),
 (4606, 0.0),
 (4605, 0.0),
 (4604, 0.03877833671647406),
 (4603, 0.0),
 (4602, 0.0563436169819011),
 (4601, 0.0),
 (4600, 0.0),
 (4599, 0.0),
 (4598, 0.0),
 (4597, 0.05096471914376255),
 (4596, 0.05345224838248488),
 (4595, 0.0),
 (4594, 0.042257712736425826),
 (4593, 0.0),
 (4592, 0.0),
 (4591, 0.06900655593423542),
 (4590, 0.02519763153394848),
 (4589, 0.029424494316824985),
 (4588, 0.0),
 (4587, 0.04688072309384954),
 (4586, 0.0),
 (4585, 0.0),
 (4584, 0.0),
 (4583, 0.0),
 (4582, 0.03929887459459296),
 (4581, 0.0),
 (4580, 0.0),
 (4579, 0.0),
 (4578, 0.0),
 (4577, 0.0),
 (4576, 0.02672612419124244),
 (4575, 0.03194382824999699),
 (4574, 0.0),
 (4573, 0.042257712736425826),
 (4572, 0.0),
 (4571, 0.0),
 (4570, 0.033149677206589796),
 (4569, 0.029880715233359837),
 (4568, 0.08199200616907877),
 (4567, 0.0),
 (4566, 0.06506000486323554),
 (4565, 0.01590108488852604),
 (4564, 0.04517539514526256),
 (4563, 0.0),
 (4562, 0.0),
 (4561, 0.0),
 (4560, 0.06506000486323554),
 (4559, 0.04401188481356615),
 (4558, 0.027066598098038335),
 (4557, 0.03984095364447979),
 (4556, 0.0),
 (4555, 0.04517539514526256),
 (4554, 0.03877833671647406),
 (4553, 0.027066598098038335),
 (4552, 0.024655683636076894),
 (4551, 0.0),
 (4550, 0.0),
 (4549, 0.03138824102871722),
 (4548, 0.0),
 (4547, 0.0),
 (4546, 0.0),
 (4545, 0.10821091383745125),
 (4544, 0.0),
 (4543, 0.029424494316824985),
 (4542, 0.04517539514526256),
 (4541, 0.0),
 (4540, 0.029424494316824985),
 (4539, 0.0),
 (4538, 0.07100716024967263),
 (4537, 0.0),
 (4536, 0.030358837035945812),
 (4535, 0.03779644730092272),
 (4534, 0.0),
 (4533, 0.0563436169819011),
 (4532, 0.019017456528224095),
 (4531, 0.0),
 (4530, 0.02519763153394848),
 (4529, 0.024655683636076894),
 (4528, 0.05096471914376255),
 (4527, 0.0),
 (4526, 0.0),
 (4525, 0.02219483808092376),
 (4524, 0.0),
 (4523, 0.0),
 (4522, 0.0),
 (4521, 0.0),
 (4520, 0.0),
 (4519, 0.061721339984836754),
 (4518, 0.0),
 (4517, 0.0),
 (4516, 0.09376144618769908),
 (4515, 0.0),
 (4514, 0.0),
 (4513, 0.0),
 (4512, 0.04984447862792268),
 (4511, 0.0),
 (4510, 0.029424494316824985),
 (4509, 0.0),
 (4508, 0.0),
 (4507, 0.0),
 (4506, 0.022005942406783077),
 (4505, 0.0),
 (4504, 0.0),
 (4503, 0.0),
 (4502, 0.09376144618769908),
 (4501, 0.0),
 (4500, 0.0),
 (4499, 0.0),
 (4498, 0.027066598098038335),
 (4497, 0.0),
 (4496, 0.0),
 (4495, 0.0),
 (4494, 0.0),
 (4493, 0.0),
 (4492, 0.08728715609439694),
 (4491, 0.0),
 (4490, 0.13801311186847084),
 (4489, 0.0),
 (4488, 0.0),
 (4487, 0.0),
 (4486, 0.0),
 (4485, 0.03450327796711771),
 (4484, 0.02492223931396134),
 (4483, 0.0),
 (4482, 0.033806170189140665),
 (4481, 0.0),
 (4480, 0.0),
 (4479, 0.0),
 (4478, 0.0),
 (4477, 0.0),
 (4476, 0.0),
 (4475, 0.0),
 (4474, 0.0),
 (4473, 0.08199200616907877),
 (4472, 0.07207499701564471),
 (4471, 0.0),
 (4470, 0.0),
 (4469, 0.026398183867422733),
 (4468, 0.09416472308615166),
 (4467, 0.0),
 (4466, 0.02129588549999799),
 (4465, 0.0),
 (4464, 0.0),
 (4463, 0.03984095364447979),
 (4462, 0.0),
 (4461, 0.0),
 (4460, 0.040996003084539386),
 (4459, 0.03253000243161777),
 (4458, 0.027066598098038335),
 (4457, 0.0),
 (4456, 0.0),
 (4455, 0.0),
 (4454, 0.0),
 (4453, 0.05345224838248488),
 (4452, 0.0),
 (4451, 0.08226127456606226),
 (4450, 0.027066598098038335),
 (4449, 0.0),
 (4448, 0.0),
 (4447, 0.0),
 (4446, 0.026398183867422733),
 (4445, 0.0),
 (4444, 0.0),
 (4443, 0.07559289460184544),
 (4442, 0.0),
 (4441, 0.0),
 (4440, 0.0),
 (4439, 0.0),
 (4438, 0.0),
 (4437, 0.0),
 (4436, 0.0),
 (4435, 0.0),
 (4434, 0.033149677206589796),
 (4433, 0.0),
 (4432, 0.0),
 (4431, 0.08451542547285165),
 (4430, 0.0),
 (4429, 0.04193139346887673),
 (4428, 0.0),
 (4427, 0.02577696311132335),
 (4426, 0.0),
 (4425, 0.0),
 (4424, 0.0),
 (4423, 0.0),
 (4422, 0.02817180849095055),
 (4421, 0.035245368842512066),
 (4420, 0.030358837035945812),
 (4419, 0.0),
 (4418, 0.0),
 (4417, 0.0),
 (4416, 0.0),
 (4415, 0.0),
 (4414, 0.0),
 (4413, 0.030860669992418377),
 (4412, 0.07968190728895957),
 (4411, 0.0),
 (4410, 0.027066598098038335),
 (4409, 0.0),
 (4408, 0.03450327796711771),
 (4407, 0.0),
 (4406, 0.029880715233359837),
 (4405, 0.19518001458970666),
 (4404, 0.0),
 (4403, 0.07559289460184544),
 (4402, 0.03253000243161777),
 (4401, 0.027066598098038335),
 (4400, 0.03984095364447979),
 (4399, 0.04931136727215379),
 (4398, 0.0),
 (4397, 0.022792115291927588),
 (4396, 0.0),
 (4395, 0.0),
 (4394, 0.0),
 (4393, 0.0),
 (4392, 0.025482359571881275),
 (4391, 0.0),
 (4390, 0.040996003084539386),
 (4389, 0.0),
 (4388, 0.018666334823663932),
 (4387, 0.0),
 (4386, 0.0),
 (4385, 0.0),
 (4384, 0.04733810683311508),
 (4383, 0.026398183867422733),
 (4382, 0.052164053095730106),
 (4381, 0.0),
 (4380, 0.028571428571428567),
 (4379, 0.0),
 (4378, 0.0),
 (4377, 0.05797710356524483),
 (4376, 0.0),
 (4375, 0.048795003647426664),
 (4374, 0.0),
 (4373, 0.0),
 (4372, 0.027066598098038335),
 (4371, 0.025482359571881275),
 (4370, 0.0),
 (4369, 0.05345224838248488),
 (4368, 0.042257712736425826),
 (4367, 0.0),
 (4366, 0.0),
 (4365, 0.04364357804719847),
 (4364, 0.0),
 (4363, 0.0),
 (4362, 0.04517539514526256),
 (4361, 0.0),
 (4360, 0.0),
 (4359, 0.024147264420814756),
 (4358, 0.02366905341655754),
 (4357, 0.07049073768502413),
 (4356, 0.0),
 (4355, 0.06761234037828133),
 (4354, 0.0),
 (4353, 0.09376144618769908),
 (4352, 0.0),
 (4351, 0.03779644730092272),
 (4350, 0.0),
 (4349, 0.03138824102871722),
 (4348, 0.1406421692815486),
 (4347, 0.0),
 (4346, 0.0),
 (4345, 0.0),
 (4344, 0.0),
 (4343, 0.07396705090823068),
 (4342, 0.0),
 (4341, 0.029424494316824985),
 (4340, 0.0),
 (4339, 0.060717674071891624),
 (4338, 0.0),
 (4337, 0.0),
 (4336, 0.16239958858823),
 (4335, 0.02742042485535409),
 (4334, 0.0),
 (4333, 0.04517539514526256),
 (4332, 0.040996003084539386),
 (4331, 0.1057361065275362),
 (4330, 0.04193139346887673),
 (4329, 0.057142857142857134),
 (4328, 0.0),
 (4327, 0.03138824102871722),
 (4326, 0.0),
 (4325, 0.02519763153394848),
 (4324, 0.036037498507822355),
 (4323, 0.0),
 (4322, 0.0),
 (4321, 0.0),
 (4320, 0.07049073768502413),
 (4319, 0.03505536546997459),
 (4318, 0.0),
 (4317, 0.02742042485535409),
 (4316, 0.05884898863364997),
 (4315, 0.0),
 (4314, 0.03984095364447979),
 (4313, 0.03194382824999699),
 (4312, 0.06629935441317959),
 (4311, 0.0),
 (4310, 0.0),
 (4309, 0.0),
 (4308, 0.0),
 (4307, 0.0),
 (4306, 0.0),
 (4305, 0.06195121541733006),
 (4304, 0.0),
 (4303, 0.0),
 (4302, 0.0),
 (4301, 0.0),
 (4300, 0.040996003084539386),
 (4299, 0.027066598098038335),
 (4298, 0.0),
 (4297, 0.0),
 (4296, 0.0),
 (4295, 0.0),
 (4294, 0.0),
 (4293, 0.0563436169819011),
 (4292, 0.033806170189140665),
 (4291, 0.0),
 (4290, 0.07377111135633174),
 (4289, 0.0),
 (4288, 0.02742042485535409),
 (4287, 0.0),
 (4286, 0.0),
 (4285, 0.0),
 (4284, 0.02672612419124244),
 (4283, 0.0),
 (4282, 0.03450327796711771),
 (4281, 0.05345224838248488),
 (4280, 0.023904572186687872),
 (4279, 0.048795003647426664),
 (4278, 0.0),
 (4277, 0.019783564706223267),
 (4276, 0.0),
 (4275, 0.0),
 (4274, 0.0),
 (4273, 0.0),
 (4272, 0.0),
 (4271, 0.06629935441317959),
 (4270, 0.061721339984836754),
 (4269, 0.0),
 (4268, 0.0),
 (4267, 0.0),
 (4266, 0.026398183867422733),
 (4265, 0.023002185311411804),
 (4264, 0.0),
 (4263, 0.02742042485535409),
 (4262, 0.026398183867422733),
 (4261, 0.027066598098038335),
 (4260, 0.0),
 (4259, 0.04688072309384954),
 (4258, 0.0),
 (4257, 0.08964214570007951),
 (4256, 0.0),
 (4255, 0.0),
 (4254, 0.10350983390135313),
 (4253, 0.0),
 (4252, 0.0),
 (4251, 0.0),
 (4250, 0.018333969940564222),
 (4249, 0.0),
 (4248, 0.029880715233359837),
 (4247, 0.02258769757263128),
 (4246, 0.040996003084539386),
 (4245, 0.0),
 (4244, 0.05345224838248488),
 (4243, 0.0),
 (4242, 0.0),
 (4241, 0.042257712736425826),
 (4240, 0.0),
 (4239, 0.0),
 (4238, 0.02817180849095055),
 (4237, 0.0),
 (4236, 0.02817180849095055),
 (4235, 0.022792115291927588),
 (4234, 0.0),
 (4233, 0.019138975058773815),
 (4232, 0.03138824102871722),
 (4231, 0.0),
 (4230, 0.0),
 (4229, 0.0),
 (4228, 0.10826639239215334),
 (4227, 0.0),
 (4226, 0.036037498507822355),
 (4225, 0.0),
 (4224, 0.0),
 (4223, 0.017074694419062765),
 (4222, 0.0),
 (4221, 0.0),
 (4220, 0.0),
 (4219, 0.0),
 (4218, 0.035245368842512066),
 (4217, 0.0),
 (4216, 0.0),
 (4215, 0.0),
 (4214, 0.06900655593423542),
 (4213, 0.027788500718836418),
 (4212, 0.0),
 (4211, 0.028988551782622416),
 (4210, 0.0),
 (4209, 0.030358837035945812),
 (4208, 0.0),
 (4207, 0.028571428571428567),
 (4206, 0.0),
 (4205, 0.0),
 (4204, 0.03984095364447979),
 (4203, 0.0563436169819011),
 (4202, 0.036037498507822355),
 (4201, 0.1267731382092775),
 (4200, 0.033806170189140665),
 (4199, 0.0),
 (4198, 0.0),
 (4197, 0.0),
 (4196, 0.10811249552346706),
 (4195, 0.0),
 (4194, 0.06629935441317959),
 (4193, 0.03779644730092272),
 (4192, 0.025482359571881275),
 (4191, 0.03450327796711771),
 (4190, 0.22131333406899523),
 (4189, 0.0),
 (4188, 0.0),
 (4187, 0.0),
 (4186, 0.0),
 (4185, 0.02817180849095055),
 (4184, 0.0),
 (4183, 0.0),
 (4182, 0.03450327796711771),
 (4181, 0.0),
 (4180, 0.0),
 (4179, 0.07171371656006362),
 (4178, 0.04984447862792268),
 (4177, 0.02492223931396134),
 (4176, 0.0),
 (4175, 0.0),
 (4174, 0.0),
 (4173, 0.0),
 (4172, 0.0),
 (4171, 0.0),
 (4170, 0.0),
 (4169, 0.0),
 (4168, 0.0),
 (4167, 0.02164218276749025),
 (4166, 0.029880715233359837),
 (4165, 0.0),
 (4164, 0.03253000243161777),
 (4163, 0.08728715609439694),
 (4162, 0.0),
 (4161, 0.0),
 (4160, 0.0),
 (4159, 0.0187812056606337),
 (4158, 0.04829452884162951),
 (4157, 0.0),
 (4156, 0.0),
 (4155, 0.0),
 (4154, 0.0),
 (4153, 0.0),
 (4152, 0.045584230583855176),
 (4151, 0.0),
 (4150, 0.0),
 (4149, 0.028469931168686496),
 (4148, 0.0),
 (4147, 0.0),
 (4146, 0.06388765649999398),
 (4145, 0.0),
 (4144, 0.0),
 (4143, 0.0),
 (4142, 0.0),
 (4141, 0.0),
 (4140, 0.0),
 (4139, 0.033149677206589796),
 (4138, 0.0),
 (4137, 0.0),
 (4136, 0.020348923188911988),
 (4135, 0.03877833671647406),
 (4134, 0.0),
 (4133, 0.11338934190276817),
 (4132, 0.06506000486323554),
 (4131, 0.0),
 (4130, 0.03779644730092272),
 (4129, 0.042257712736425826),
 (4128, 0.03984095364447979),
 (4127, 0.0173421993904824),
 (4126, 0.0),
 (4125, 0.02577696311132335),
 (4124, 0.0),
 (4123, 0.057142857142857134),
 (4122, 0.0),
 (4121, 0.07824607964359516),
 (4120, 0.0),
 (4119, 0.0),
 (4118, 0.06776309271789384),
 (4117, 0.03138824102871722),
 (4116, 0.0),
 (4115, 0.02238868314198225),
 (4114, 0.0173421993904824),
 (4113, 0.0),
 (4112, 0.030860669992418377),
 (4111, 0.030358837035945812),
 (4110, 0.033149677206589796),
 (4109, 0.0),
 (4108, 0.0),
 (4107, 0.028988551782622416),
 (4106, 0.0),
 (4105, 0.033806170189140665),
 (4104, 0.0),
 (4103, 0.02492223931396134),
 (4102, 0.0),
 (4101, 0.05039526306789696),
 (4100, 0.0),
 (4099, 0.0),
 (4098, 0.022792115291927588),
 (4097, 0.07559289460184544),
 (4096, 0.0),
 (4095, 0.1126872339638022),
 (4094, 0.0),
 (4093, 0.0),
 (4092, 0.035245368842512066),
 (4091, 0.0),
 (4090, 0.0),
 (4089, 0.03194382824999699),
 (4088, 0.06900655593423542),
 (4087, 0.0),
 (4086, 0.0),
 (4085, 0.0),
 (4084, 0.0),
 (4083, 0.030358837035945812),
 (4082, 0.055577001437672836),
 (4081, 0.07824607964359516),
 (4080, 0.0),
 (4079, 0.0),
 (4078, 0.026398183867422733),
 (4077, 0.10968169942141635),
 (4076, 0.028988551782622416),
 (4075, 0.04364357804719847),
 (4074, 0.040996003084539386),
 (4073, 0.04688072309384954),
 (4072, 0.0),
 (4071, 0.0),
 (4070, 0.0),
 (4069, 0.0),
 (4068, 0.0),
 (4067, 0.0),
 (4066, 0.02492223931396134),
 (4065, 0.025482359571881275),
 (4064, 0.03688555567816587),
 (4063, 0.03138824102871722),
 (4062, 0.0),
 (4061, 0.05096471914376255),
 (4060, 0.048795003647426664),
 (4059, 0.08451542547285165),
 (4058, 0.0),
 (4057, 0.0),
 (4056, 0.0),
 (4055, 0.0),
 (4054, 0.0),
 (4053, 0.08226127456606226),
 (4052, 0.0),
 (4051, 0.0),
 (4050, 0.048795003647426664),
 (4049, 0.022005942406783077),
 (4048, 0.0),
 (4047, 0.0),
 (4046, 0.1980534816610477),
 (4045, 0.0),
 (4044, 0.0),
 (4043, 0.10559273546969093),
 (4042, 0.042257712736425826),
 (4041, 0.0),
 (4040, 0.0),
 (4039, 0.0),
 (4038, 0.0),
 (4037, 0.029880715233359837),
 (4036, 0.06900655593423542),
 (4035, 0.029880715233359837),
 (4034, 0.04688072309384954),
 (4033, 0.0),
 (4032, 0.0),
 (4031, 0.0),
 (4030, 0.0),
 (4029, 0.0),
 (4028, 0.03779644730092272),
 (4027, 0.03688555567816587),
 (4026, 0.019783564706223267),
 (4025, 0.0),
 (4024, 0.042257712736425826),
 (4023, 0.03688555567816587),
 (4022, 0.0),
 (4021, 0.03253000243161777),
 (4020, 0.02742042485535409),
 (4019, 0.023002185311411804),
 (4018, 0.0),
 (4017, 0.03253000243161777),
 (4016, 0.11633501014942217),
 (4015, 0.02219483808092376),
 (4014, 0.0),
 (4013, 0.0),
 (4012, 0.0),
 (4011, 0.02577696311132335),
 (4010, 0.04193139346887673),
 (4009, 0.0),
 (4008, 0.1690308509457033),
 (4007, 0.029424494316824985),
 (4006, 0.0),
 (4005, 0.0),
 (4004, 0.07755667343294811),
 (4003, 0.0),
 (4002, 0.024147264420814756),
 (4001, 0.0),
 (4000, 0.01889822365046136),
 (3999, 0.0),
 (3998, 0.11633501014942217),
 (3997, 0.14414999403128942),
 (3996, 0.0),
 (3995, 0.024655683636076894),
 (3994, 0.0),
 (3993, 0.033149677206589796),
 (3992, 0.07559289460184544),
 (3991, 0.020348923188911988),
 (3990, 0.05096471914376255),
 (3989, 0.02672612419124244),
 (3988, 0.02577696311132335),
 (3987, 0.0),
 (3986, 0.04688072309384954),
 (3985, 0.033149677206589796),
 (3984, 0.0),
 (3983, 0.0),
 (3982, 0.0),
 (3981, 0.033806170189140665),
 (3980, 0.07755667343294811),
 (3979, 0.015626907697949846),
 (3978, 0.0),
 (3977, 0.03779644730092272),
 (3976, 0.04688072309384954),
 (3975, 0.035245368842512066),
 (3974, 0.07377111135633174),
 (3973, 0.0),
 (3972, 0.0),
 (3971, 0.0),
 (3970, 0.03877833671647406),
 (3969, 0.03779644730092272),
 (3968, 0.0),
 (3967, 0.0),
 (3966, 0.033806170189140665),
 (3965, 0.0),
 (3964, 0.0),
 (3963, 0.0),
 (3962, 0.0),
 (3961, 0.02366905341655754),
 (3960, 0.04364357804719847),
 (3959, 0.02146693953705459),
 (3958, 0.0),
 (3957, 0.0),
 (3956, 0.0),
 (3955, 0.0),
 (3954, 0.03194382824999699),
 (3953, 0.040996003084539386),
 (3952, 0.11065666703449761),
 (3951, 0.030358837035945812),
 (3950, 0.0),
 (3949, 0.03414938883812553),
 (3948, 0.023904572186687872),
 (3947, 0.04688072309384954),
 (3946, 0.0375624113212674),
 (3945, 0.023002185311411804),
 (3944, 0.03450327796711771),
 (3943, 0.0),
 (3942, 0.0),
 (3941, 0.0),
 (3940, 0.0),
 (3939, 0.0),
 (3938, 0.0),
 (3937, 0.0),
 (3936, 0.0),
 (3935, 0.0515539262226467),
 (3934, 0.0),
 (3933, 0.060717674071891624),
 (3932, 0.027788500718836418),
 (3931, 0.0),
 (3930, 0.02577696311132335),
 (3929, 0.07049073768502413),
 (3928, 0.026398183867422733),
 (3927, 0.03779644730092272),
 (3926, 0.0),
 (3925, 0.0),
 (3924, 0.061721339984836754),
 (3923, 0.02817180849095055),
 (3922, 0.033149677206589796),
 (3921, 0.048795003647426664),
 (3920, 0.0),
 (3919, 0.041300810278220045),
 (3918, 0.0),
 (3917, 0.0),
 (3916, 0.040996003084539386),
 (3915, 0.03194382824999699),
 (3914, 0.028988551782622416),
 (3913, 0.0),
 (3912, 0.04517539514526256),
 (3911, 0.02129588549999799),
 (3910, 0.02742042485535409),
 (3909, 0.0),
 (3908, 0.08336550215650926),
 (3907, 0.0),
 (3906, 0.0),
 (3905, 0.0791945516022682),
 (3904, 0.0),
 (3903, 0.06440081861116377),
 (3902, 0.028571428571428567),
 (3901, 0.0),
 (3900, 0.0),
 (3899, 0.035245368842512066),
 (3898, 0.03450327796711771),
 (3897, 0.0),
 (3896, 0.0),
 (3895, 0.0),
 (3894, 0.042257712736425826),
 (3893, 0.0),
 (3892, 0.0),
 (3891, 0.0),
 (3890, 0.019920476822239894),
 (3889, 0.03877833671647406),
 (3888, 0.06277648205743444),
 (3887, 0.0),
 (3886, 0.05096471914376255),
 (3885, 0.03450327796711771),
 (3884, 0.0),
 (3883, 0.048795003647426664),
 (3882, 0.0),
 (3881, 0.0),
 (3880, 0.0),
 (3879, 0.04984447862792268),
 (3878, 0.0),

In [94]:
#i want to recommend top 5 movies similar to given movie name
# step 1 : to fetch index of that movie 
#step 2 : get didtances of all movies from that index movie using simalar df
#step 3: sort the distances in descending and fetch staring 5 
    #(why descending means as we are using cosine similarity the vale 1.0 means closer value 0 means not at all similar to out given movie
    #if we use cosine dis then we can go with ascending order itself
#step 4 : but if we sort we lose indices so lets USE ENUMERATE FUNCTION if we directly use sort with enumerate we get 
#sorting based on index but we want to be based on distance so use lamda func also
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similar[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse = True,key =lambda x: x[1])[1:6]

    for i in movies_list:
        
        
        print(new_df.iloc[i[0]].title)

In [95]:
recommend('Avatar')

Titan A.E.
Small Soldiers
Ender's Game
Aliens vs Predator: Requiem
Independence Day

In [101]:
#this file created in folder 
import pickle
pickle.dump(new_df.to_dict(), open('movie_dict.pkl', 'wb'))

In [102]:
new_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [105]:
pickle.dump(similar, open('similar.pkl', 'wb'))